<%- include('layout') %>


    <h2>Welcome to Admin Dashboard</h2>
    <h2>Hello, <%= user.name %>. You are logged in as an <%= user.role %>.</h2>

    <h2><a class="add_Product_admin" href="/api/products/add">Add Product</a></h2>
